<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WinFIM.NET_Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WinFIM.NET_Service.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WinFIM.NET_Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <WinFIM.NET_Service.Properties.Settings>
            <setting name="check_interval_minute" serializeAs="String">
                <value>1</value>
            </setting>
        </WinFIM.NET_Service.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <WinFIM.NET_Service.Properties.Settings>
            <setting name="service_start_message" serializeAs="String">
                <value>WinFIM.NET Started</value>
            </setting>
            <setting name="heart_beat_message" serializeAs="String">
                <value>WinFIM.NET Heartbeat</value>
            </setting>
            <setting name="service_stop_message" serializeAs="String">
                <value>WinFIM.NET Stopped</value>
            </setting>
        </WinFIM.NET_Service.Properties.Settings>
    </applicationSettings>
	<appSettings>
		<add key="serilog:minimum-level" value="Information" />
		<!-- ^^^  serilog:minimum-level available settings: Verbose, Debug, Information, Warning, Error, Fatal -->
		<add key="serilog:using:Console" value="Serilog.Sinks.Console" />
		<add key="serilog:write-to:Console" />

		<add key="serilog:using:File" value="Serilog.Sinks.File" />
		<add key="serilog:write-to:File" value="logs\\myapp.txt"/>
		<add key="serilog:write-to:File.rollingInterval" value="Day"/>
	</appSettings>
	<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SQLitePCLRaw.core" publicKeyToken="1488e028ca7ab535" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.1705" newVersion="2.1.1.1705" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>